---
layout: archive
title: "Publications"
permalink: /articles/
author_profile: true
redirect_from: 
  - /wordpress/academic-papers/
---
You can also find my articles on <u><a href="http://scholar.google.com/citations?user=0AvWi3wAAAAJ&hl=en">my Google Scholar profile</a>.</u>
----------
**Qi Zhang**, Difeng Zhu, Heng Zhang, et al. Prediction of Female Fertility Structure and Population Change in China by Modified SIR Model [C]. Big Data and Social Computing, 2022: 57-79. <u><a href="https://link.springer.com/chapter/10.1007/978-981-19-7532-5_4">[Link<font color=#0000FF>]</a>.</u>.
----------
Yudie Jianyao, **Qi Zhang**, Liang Ge, et al. Technical methods of national security supervision: Grain storage security as an example [J]. Journal of Safety Science and Resilience, 2023, 4(1): 61-74.  <u><a href="https://www.sciencedirect.com/science/article/pii/S2666449622000500">[Link<font color=#0000FF>]</a>.</u>.
---------- 
Heng Zhang, Zhanhui Sun, Zhifei Wang, **Qi Zhang**, et al. Analysis of Influencing Factors of Birth Rate and Prediction of Policy Scenario [C]. Big Data and Social Computing, 2022: 309-331.   <u><a href="https://link.springer.com/chapter/10.1007/978-981-19-7532-5_20">[Link<font color=#0000FF>]</a>.</u>.
----------   
  {% include base_path %}

{% for post in site.articles reversed %}
  {% include archive-single.html %}
{% endfor %}
